.featuredWork {
    padding: 50px 0;
    margin-top: 50px;

}

.featuredWorkInner {
    column-count: 1;
    column-gap: 30px;
}

.featuredWorkItem {
    border: 4px solid var(--color-text-primary);
    box-shadow: 5px 5px var(--color-text-primary);
    background-color: var(--color-bg-primary);
    break-inside: avoid;
    margin-bottom: 70px;
    position: relative;
}

.featuredWorkItemImg {
    border-bottom: 4px solid var(--color-text-primary);
}

.featuredWorkItemImg > * {
    margin-bottom: -10px;
}

.featuredWorkItemInfo {
    position: relative;
    width: 100%;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredWorkItemInfo > * {
    border: 4px solid var(--color-text-primary);
    box-shadow: 5px 5px var(--color-text-primary);
    background-color: var(--color-bg-primary);
    padding: 10px;
    font-size: var(--p);
}

.featuredWorkItemInfo > span, .featuredWorkItemInfo > a {
    margin-left: 15px;
}

.featuredWorkItemContent {
    padding: 20px;
    padding-bottom: 0;
}

.featuredWorkItemContent > h3 {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    font-size: var(--h4);
}

.featuredWorkItemContent p {
    font-size: var(--p);
    line-height: 1.3;
}

.featuredWorkItemInfo > a {
    color: var(--color-accent);
    transition: .35s;
    border: 4px solid var(--color-accent);
    box-shadow: 5px 5px var(--color-accent);
    background-color: var(--color-bg-primary);
    padding: 5px 15px;
}

.featuredWorkItemInfo > a > svg {
    fill: var(--color-accent);
}


@media(min-width: 768px) {
    .featuredWorkInner {
        column-count: 2;
    }
}

@media(min-width: 1200px) {
    .featuredWorkInner {
        column-count: 3;
    }
}
