.reviews {
    padding: 50px 0;
    margin-top: 50px;
}

.reviewsInner {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 15px;
    scroll-padding-right: 15px;
    --webkit-overflow-scrolling: touch;
}

.reviewsInner::-webkit-scrollbar {
    width: 0;
    display: none;
}

.reviewsItem {
    scroll-snap-align: start;
    min-width: calc(50% - 30px);
    margin: 0 15px;
}
