.search {
    margin: 30px 0;
    padding: 50px;
}

.searchInput {
    padding: 15px;
    color: var(--color-text-primary);
    font-size: 16px;
    width: 100%;
    border: none;
    background: var(--color-bg-primary);
    outline: 4px solid var(--color-text-primary);
    box-shadow: 10px 10px var(--color-text-primary);
    transition: .35s;
}

.searchInput:focus {
    box-shadow: none;
}
