.header {
    padding: 20px 0;

}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 40px;
    height: auto;
}

[data-theme="dark"] .headerLogo {
    filter: invert(.4);
}

.headerMenu {
    list-style: none;
    display: flex;
    gap: 20px;
}


.headerMenu li {
    font-size: 20px;
}

.headerActions {
    display: flex;
    gap: 30px;
}
