.header {
    padding: 20px 0;

}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 40px;
    height: auto;
}

[data-theme="dark"] .headerLogo {
    filter: invert(.4);
}

.headerNav {
    padding: 35% 0;
}

.headerMenu {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .headerMenu > *:not(:last-child) {
      margin-right: 20px;
    }
  }


.headerMenu li {
    font-size: var(--h1);
    font-weight: 900;
}

.headerMenu a {
    transition: .35s;
    color: #494949;
}

.headerMenu a:hover {
    color: #f7f7f7;
}

.headerActions {
    display: flex;
    gap: 30px;
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .headerActions > *:not(:last-child) {
      margin-right: 30px;
    }
  }


@media (min-width: 480px) and (orientation: landscape) {
    .headerNav {
        padding: 5% 0;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    .headerNav {
        padding: 15% 0;
    }
}
