.slideScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.slideScreen > .inScreen {
    /* transform: translateX(100%); */
    transition: .35s;
    background-color: var(--color-accent);
    animation: fadeInFromNone .3s ease-in-out;
}

.slideScreen > .inScreen.close {
    background-color: var(--color-accent);
    transition: .35s;
    transform: translateX(100%);
    z-index: 9;
    /* animation: fadeOutFromBlock .3s ease-in-out; */
}

@keyframes fadeInFromNone {
    0% {
      display: none;
      transform: translateX(100%);
    }

    1% {
      display: block;
      transform: translateX(100%);
    }

    100% {
      display: block;
      transform: translateX(0);
    }
}

/* @keyframes fadeOutFromBlock {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
} */



.slideScreen:before {
    content: '';
    background: var(--color-accent);
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}
